.link-btn {
    width: fit-content;
    max-width: 100%;
    padding: .6rem 1.4rem;
    color: var(--clr-font-light);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -.03em;
    background: var(--bg-primary);
    border: 3px solid var(--clr-font-light);
    border-radius: 100vw;

    &.link-btn--white {
        color: var(--bg-primary);
        background: var(--clr-font-light);
    }
}