.header__nav {
    @media (min-width: 52em) {
        // --desktop-block: none;
        // --toggler-display: none;
        // --nav-visibility: visible;
        // --desktop-border: none;
        // --desktop-margin: none;
        // --desktop-padding: none;
        // --desktop-transform: none;
        // --desktop-size: auto;
        // --desktop-ul-display: flex;
        // --desktop-position: static;
    }

    nav {

        & > ul {
            display: flex;
            gap: calc(var(--main-gap) / 2);
            margin: 0;
            padding: 0;
            list-style: none;

            & a {
                padding: calc(var(--main-gap) / 2);
                color: inherit;
                text-decoration: none;
            }
        }
    }
}