.header__top {
    padding-block: calc(var(--main-gap) / 2);
    background-color: var(--bg-light-shadow);

    &-inner {
        display: flex;
        gap: var(--main-gap);
        align-items: center;
        color: var(--clr-font-light);
    }

    & * {
        color: inherit;
    }
}

.header__social {
    margin-inline-end: auto;
    display: flex;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        svg > use {
            fill: var(--clr-font-light);
        }
    }
}

.header__contacts {
    display: flex;
    gap: var(--main-gap);

    & > a {
        display: flex;
        align-items: center;
        gap: calc(var(--main-gap) / 2);
        text-decoration: none;
    }
}