<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">

{{- if .IsTranslated -}}
  {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" />
  {{- end -}}
  {{ range first 1 .AllTranslations }}
    <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
  {{- end -}}
{{ end }}

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/styles.html" . }}

